<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="htmx-config" content='{"useTemplateFragments":true}'>
		<title>Change in Weights</title>
		<link href="/static/styles/opinionated.css" rel="stylesheet">
	</head>
	<body>
		<h1>Weight Update Graphs</h1>
		<div id="weight-update-graphs" hx-patch="/analytics/v0/weight-history" hx-trigger="load delay:4100ms, every 2s" hx-swap-oob="true">
		</div>
		<script src="/static/scripts/htmx.min.js">
		</script>
	</body>
</html>
